<!doctype html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Приложение для досутпа к аналитике VITA-control.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VITA-control</title>
    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/images/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon-precomposed_180.png"> 
    <link rel="apple-touch-icon" sizes="167x167" href="static/images/apple-touch-icon-precomposed_167.png">
    <link rel="manifest" href="static/manifest.json">

    <!-- See https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android -->
    <meta name="theme-color" content="#db5945">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/vue-material.css">
    <script src="static/js/vue.js"></script>  
  </head>

  <body>
   <div id="vc" class="phone-viewport">
 <md-toolbar>
    <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
      <md-icon>menu</md-icon>
    </md-button>
    <h2 class="md-title">VITA-control</h2>
  </md-toolbar>
  <div class="main-content">
    <h1>приложение самомониторинга</h1>
    <p>В этом приложении вы можете получить информацию о ваших измерениях:</p>
    <h2>((message))</h2>
    <h3>Измерения:</h3>

    <md-table>
  <md-table-header>
    <md-table-row>
      <md-table-head md-sort-by="date">Дата и время</md-table-head>
      <md-table-head md-sort-by="temp" md-numeric md-tooltip="The total amount of food energy and the given serving size">Температуа (C&deg;)</md-table-head>
      <md-table-head md-sort-by="pulse" md-numeric>Пульс (у/м)</md-table-head>
      <md-table-head md-sort-by="oxy" md-numeric>Оксигенация (?)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="row in datas" :key="row.index">
      <md-table-cell>((row.date))</md-table-cell>
      <md-table-cell md-numeric>((row.temp)) </md-table-cell>
      <md-table-cell md-numeric>((row.pulse)) </md-table-cell>
      <md-table-cell md-numeric>((row.oxy)) </md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>

<div>
    <md-button class="md-raised md-accent" @click.native="toggleRightSidenav">Подробнее</md-button>
    <p>Получить подробные сведения о продукте.</p>
  </div>    
</div>


<md-sidenav class="md-left" ref="leftSidenav" @open="open('Left')" @close="close('Left')">
    <md-toolbar>
      <div class="md-toolbar-container">
        <h3 class="md-title">Тест1</h3>
      </div>
    </md-toolbar>

    <p>Вы можете связаться с разработчиком продукта по телефону: <a href="tel:7-912-815-4366">Сделать заказ!</a></p>

  </md-sidenav>

  <md-sidenav class="md-right" ref="rightSidenav" @open="open('Right')" @close="close('Right')">
    <md-toolbar>
      <div class="md-toolbar-container">
        <h3 class="md-title">Тест2</h3>
      </div>
    </md-toolbar>
    <p>Кикие-то подробности.</p>

    <md-button class="md-raised md-accent" @click.native="ajxNewData">Имитировать добавление данных</md-button>
    <md-button class="md-raised md-accent" @click.native="closeRightSidenav">Закрыть</md-button>
  </md-sidenav>
    </div>
    <script src="static/js/vue-material.js"></script>
    <script src="static/js/app.js"></script>

  </body>
</html>